In [12]:
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score

In [10]:
submission_1 = pd.read_csv("submission_ (1).csv")
submission_1.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [8]:
submission_2 = pd.read_csv("submission_2.csv")
submission_2.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [7]:
result = pd.read_csv("gender_submission.csv")
result.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [15]:
acc_1 = accuracy_score(submission_1["Survived"], result["Survived"])

In [16]:
acc_2 = accuracy_score(submission_2["Survived"], result["Survived"])

In [17]:
acc_1, acc_2

(0.9545454545454546, 0.8564593301435407)

In [18]:
scores = pd.DataFrame({
    "Models" : ["Model01", "Model02"], 
    "Accuracy" : [acc_1, acc_2]
})
scores

    Models  Accuracy
0  Model01  0.954545
1  Model02  0.856459